{% load static %}
<script>
    var access_token = "{{ request.user.openhumansmember.access_token }}";
    var member_id = {{ request.user.openhumansmember.oh_id }};
    var csrf_token = "{{ csrf_token }}";
    var oh_direct_upload_url = "{{ oh_direct_upload_url }}";
    var oh_direct_upload_complete_url = "{{ oh_direct_upload_complete_url }}";
</script>

<div id='upload_form'>
    <form method="get" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="upload_datatype" name="upload_datatype" value="{{ datatype.id }}">
        <div class="form-group">
          <label for="upload_file">Select file:</label>
          <input type="file" name="upload_file" id="upload_file">
        </div>
        <div class="form-group">
          <input type="text" class="form-control"
            name="upload_description"
            id="upload_description"
            placeholder="Optional description of file.">
        </div>
        <input type="button" class="btn btn-primary" value="Upload file" onClick="startUpload()">
    </form>
</div>
<script src="{% static 'js/upload.js' %}"></script>
    