{% extends 'base.html' %}
{% load static %}

{% block main %}
<h1 class="mb-3">Dashboard: File Uploader</h1>
<p>
  Your data will be stored in files within your Open Humans account.
  Files are listed below, and can also be seen in on
  <a href="#">this project's activity page</a> in the Open Humans website.
</p>
<form method="get" action="{% url 'upload' %}">
  <label for="upload_description">Select datatype for upload:</label>
  <select name="datatype_id" id="datatype_id">
      {% for dt in datatypes %}
      <option value="{{ dt.id }}">{{ dt.name }}</option>
      {% endfor %}
  </select>
  <input type="submit" class="btn btn-primary" value="Upload this datatype">
</form>

<hr>

<p class="small">
  Don't see the DataType listed? You can explore and edit these, and create
  one if needed. You need to the DataType as "uploadable" to show up here.
</p>
<a class="btn btn-default btn-sm" href="{{ open_humans_datatype_list }}">Go to DataTypes management</a>

<hr>

<h2>Your data</h2>

{% if datafiles %}
<table class="table table-hover table-sm" style="font-size:0.9rem;">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">datatypes</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for datafile in datafiles %}
    <tr>
      <td>
        {{ datafile.basename }}
      </td>
      <td>
        {% for dt in datafile.datatypes %}
        {{ dt.name }}{% if not forloop.first %}<br>{% endif %}
        {% endfor %}
      </td>
      <td>
        <a class="btn btn-primary btn-xs" href="{{ datafile.download_url }}" download>Download</a>
        <a class="btn btn-danger btn-xs" href="{% url 'delete' datafile.id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>
    No files are yet available.
</p>
{% endif %}

{% endblock main %}