{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="col-md-9 col-lg-10">
        <h1 class="mb-3">Dashboard: File Uploader</h1>
        <p>
            Your data will be stored in files within your Open Humans account.
            Files are listed below, and can also be seen in on
            <a href="#">this
            project's activity page</a> in the Open Humans website.
        </p>
    </div>
    <div class="col d-none d-md-block" style="text-align: center;">
        <img class="oh-cnxn-icon" src="{% static 'img/badge.png' %}">
    </div>
</div>
<hr>

<h2>Your data</h2>

{% if data_files %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for data_file in data_files %}
        <tr>
            <td>
                {{ data_file.basename }}
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{ data_file.download_url }}" download>Download</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>
    No files are yet available.
</p>
{% endif %}

{% endblock main %}