{% extends 'base.html' %}

{% load static %}
{% load utilities %}

{% block main %}
<div class="row">
  <div class="col-md-9 col-lg-10">
      <h1 class="mb-3">Upload a file</h1>
      <p>
      Use the form below to upload a file to upload a file to your Open Humans account.
    </p>
  </div>
  <div class="col d-none d-md-block" style="text-align: center;">
    <img class="oh-cnxn-icon" src="{% static 'img/badge.png' %}">
  </div>
</div>

<div class="card mt-3 mb-4">
  <div class="card-header">
    <h1>{{ datatype.name }}</h1>
    <h5 class="card-subtitle">{{ datatype.description }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {% if request.user.is_anonymous %}
        <p>Connect Open Humans to enable upload and storage to your account.</p>
        <a href="{{ auth_url }}" class="btn btn-primary">
            Log in via Open Humans
          </a>
      {% else %}
        {% include 'main/partials/upload-form.html' %}
        <!--<p class="text-muted">
          <small>
          The Javascript uploader has failed for some users in the past. You could try another browser
          or <a href="{% url 'index' %}">use the simpler upload form</a> if you prefer that.
          </small>
        </p>-->
      {% endif %}
    </li>
    {% if datatype.details %}
    <li class="list-group-item">
      {{ datatype.details|markdown }}
    </li>
    {% endif %}
  </ul>
</div>

{% endblock main %}
